{{ define "main" }}
	<article>
		<h1>{{ .Title }}</h1>
		<div class="tip-fm-grid">
			<div class="tip-fm-col-1">
				<i class="fas fa-calendar-alt"></i>
			</div>
			<div class="tip-fm-col-2 date">
				{{ dateFormat "January 2, 2006" .Date }}
			</div>
		</div>
		<div class="content">{{ .Content }}</div>
		<div class="next-lesson">
			{{ if gt .PrevInSection.Weight .Weight }}
				Next lesson: <a class="next-lesson-link" href="{{ .PrevInSection.URL }}">{{ .PrevInSection.Title }}</a>
			{{ end }}
		</div>
	</article>
{{ end }}