/* ----- Utility ----- */

.container {
	display: grid;
	max-width: 200px;
	border: 1px solid #AAA;
	border-radius: 5px;
}

.center {
	margin: inherit auto;
	text-align: center;
}

body, html {
	height: 100%;
	display: grid;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	color: #444;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	margin: 20px 20px 0px 20px;
}

p {
	margin: 20px;
}