/* ----- Primary ----- */

$primary-text-color: #2F4858;
$link-color: #86B7B6;
$link-hover-color: #D5EDE0;

/* ----- Navigation ----- */

$nav-bg-color: #D5EDE0;
$nav-pg-link-color: #486773;
$nav-sec-link-color: #88A9A8;
$nav-active-color: #ADCBC3;

/* ----- Buttons ----- */

$btn-txt-color: #86B7B6;
$btn-hov-txt-color: #FFFFFF;
$btn-bg-color: #86B7B6;

/* ----- Article ----- */

$hr-color: #86B7B6;

/* ----- Summary ----- */

$summary-border-color: #86B7B6;


/* ----- Shortcuts ----- */

$shortcut-border-color: #66878D;
$shortcut-bg-color: #EFFCF5;
$shortcut-text-color: #66878D;

/* ----- Table ----- */

$table-border-color: #E1E1E1;
$table-bg-color: #EEEEEE;